* {
    margin: 0;
    padding: 0;
}

Body {
    background-attachment: fixed;
    background-image: url("../images/floor-tile.png");
    /* background-repeat: repeat; */
}

/* in all of the pages */
/* header */
#container {
    display: block;
}

#menu {
    display: flex;
    /* can do display flex now because there are two boxes: left and rigth, so it's ok because flex will put them side-by-side */
    border: 4px solid #cccccc;
    position: relative;
    height: 80px;
    width: 100%;
    margin-top: 0px;
    background-color: #ffffff;
    float: center;
    padding-right: 50px;
    /* overflow: scroll; */
    /* use overflow: scroll to test and if it shows scroll bars means the control is going beyond the screen*/
    /* putting padding-right: 50px moved the size of the menue to be back within the page. remove the padding and add the overflow:scroll to see*/
    /* margin-left: 50px; /
    /* verify negative margin-top - inside the page*/
}

#left-menu {
    height: 80px;
    width: 100%;
    padding-left: 290px;
}

#right-menu {
    height: 80px;
    width: 100%;
    padding-right: 250px;
    /* position: sticky; */
    /*this makes this box go 250px to the left - adding a padding on the right side! */
    /* with this 250px of padding, the last menu item will be on top (aligned) with the wrap area for text. */
}


#nav-right a {
    padding-left: 10px;
    margin-left: 20px;
    margin-top: 35px;
    /* padding-bottom: 100px; */
   float: right; 
   /* when I add float right, the order of my menu changes, "about" goes to the end of my menu */
    line-height: 15px;
    color: #999;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
     
}

h2 {
    margin: 25px;
    margin-bottom: -10px;
    padding-left: 320px;
    font-size: 24pt;
    color: #4aaaa5;
    display: block;
    font-size: 1.8em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#logo {
    width: auto;
    height: 80px;
    float: left;
    border-right: 7px solid #eeeeee;
    border-left: 4px solid #eeeeee;
    /* margin-left: 280px; */
    /* margin-bottom: -30px; */
    font-size: 20pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
    color: #ffffff;
    background: #4aaaa5;
    /* negative sign in margin-bottom made the entire logo/div go up in the page */
}

hr {
   width:1020px;
   height: 4px;
   margin: 20px 298px 30px 300px;
   background-color: #dddddd;
}
/* footer */
footer {
    width: 100%;
    height: 65px;
    left: 0;
    bottom: 0;
    padding-bottom: 0px;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    line-height: 60px;
    margin-top: 30px;
    color: #dddddd;
    position: fixed;
    background: #666666;
    /* check what are the left and bottom - margin? padding? - inspect */
}

/* The first page - about me */
#sidebar {
    width: 150px;
    height: 200px;

    float: left;
    position: absolute;
    top: 150px;
    left: 400px;

}

#wrap {
    width: 950px;
    height: 500px;
    padding: 10px 30px;
    border: 10px solid #dddddd;
    margin: 55px 298px 30px 300px;
    background-color: #ffffff;
}

#my-picture {
    float: left;
    /* display: flex */
    width: 200px;
    height: auto;
    /* position: absolute; */
    margin: 20px;
}

#about-me-text {
    z-index: -1px;
    font-size: 16px;
    margin: 20px;
    border: 20px transparent #dddddd;
    padding: 5px;
    text-align: left;
    line-height: 30px;
}

img {
    float: left;
}

/* check the following properties */


p {
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-indent: 50px;
}

#about-me-text {
    margin-left: 10px;
}

/* PORTOFOLIO HTML?? */
/* #img1 {

    size: 30%;
    position: relative;
    margin-right: 30px;
} */
/* which page?? */
/* section {
    display: block;
} */


/* header which header??? */
/* #label1 {
    position: absolute;
    text-align: center;
    line-height: 40px;
    width: 235px;
    height: 40px;
    margin-top: -50px;
    background: #4aaaa5;

} */
/* CONTACT HTML */
#form-sections {
    background-color: #ffffff;
    border: 2px transparent #dddddd;
    padding: 20px;
}